.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    align-items: left;
    margin-left: 80%;
}

@media (max-width: 999px){
    .NavigationItems {
     margin-left: 70%;
    }
   }

@media (max-width: 899px){
    .NavigationItems {
     margin-left: 60%;
    }
   }

@media (max-width: 799px){
   .NavigationItems {
    margin-left: 50%;
   }
  }
