.Input {
    padding: 20px;
    text-align: left;
}


.Input label {
    color: black;
    font-weight: bold;
}

.Input .MuiFormControl-root{
    width: 100%;
    margin-top: 10px;
}
.Input .MuiFilledInput-underline:after{
    border-bottom: 2px solid darkcyan;
}

.Input .MuiFormLabel-root.Mui-focused {
    color: darkcyan;
}


