.MyDownloads{
    position:fixed;
    top:8%;
   left: 9%;
   padding:0;
   margin:0;
   width: 100%;
   height: 100%;
   transition: all 300ms ease-out;
   overflow: scroll;
    background-color: lightgray;
   
}