.MyProfile {
   height: 100%;
   overflow: scroll;
}



.MyProfile img {
    height: 300px;
    width: 150px;
}

.MyProfile ul {
    list-style: none;
}

.MyProfile ul li {
    margin: 15px;
}

.MyProfile .MuiTextField-root {
    width: 60%;
}
