.MyTeam {
    padding: 30px;
     position: absolute;
    height: 100%;
    transition: all 1s linear;
    overflow: scroll;
    width: 95%;
}

.MyTeam h1 {
    text-align: left;
    display: inline-block;
}


.RemoveButton {
    display: none;
}

.Memberlist {
    display: inline-block;
    margin-right: 10px;
}

.AddFrom{
    padding: 30px;
    height: auto;
    width: 100%;
    margin: 0;
    background-color: darkgray;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 1s linear;
}

.AddFrom .mylabel {
  vertical-align: top;

}

.AddFrom .MuiFormControl-root {
    width: 40%;
    margin: 10px;
}

.AddFrom .MuiFilledInput-underline:after{
    border-bottom: 2px solid darkcyan;
}

.AddFrom .MuiFormLabel-root.Mui-focused {
    color: darkcyan;
}

.form-heading{
    color: darkcyan;
    text-align: center;
}

@media (max-width: 499px){
    .AddFrom .MuiFormControl-root {
        width: 80%;
    }

    .AddFrom .FormContent .mylabel {
        text-align: left;
    }
}



