.NavigationItems {
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    align-items: left;
}

.mobile-nav {
    display: none;
}

@media (max-width: 480px) {
    .right-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
        display: flex;
        align-items: center;
    }

    .mobile-nav button{
        background-color: transparent;
        border: none;
        color: #ffffff;
    }

    .mobile-nav button:hover,
    .mobile-nav button:focus {
        border: none;
    }

    .MuiList-root {
        background-color:  #304393;
    }

    .MuiList-root li {
        color: #ffffff;
    }

    .MuiList-root li img{
        padding-right: 10px;
    }
  }