.Contact {
    margin-top: 60px;
    align-items: center;
    overflow: scroll;
    position: fixed;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.paginationDiv {
    margin-bottom: 200px;
   display: inline-block;
}

.Posts{
    padding: 30px;
}


 .Contact .MuiCard-root {
     text-transform: capitalize;
     color: white;
     background-color: #191919;
     transition: all 500ms ease-in-out;
 }

 .Contact .makeStyles-paper-10{
     text-transform: capitalize;
 }

 .Contact .MuiCard-root:hover {
    transform: scale(1.1);
 }