.Contact {
    margin-top: 60px;
    align-items: center;
    overflow: scroll;
    position: fixed;
    height: 100%;
    transition: all 500ms ease-in-out;
    width: 80%;
}

.paginationDiv {
    margin-bottom: 200px;
   display: inline-block;
}

.Posts{
    padding: 30px;
}


 .Contact .MuiCard-root {
     text-transform: capitalize;
     color: white;
     background-color: #191919;
     transition: all 500ms ease-in-out;
 }

 .Contact .makeStyles-paper-10{
     text-transform: capitalize;
 }

 .Contact .MuiCard-root:hover {
    transform: scale(1.1);
 }

 .mapSection{
     margin-bottom: 200px;
 }

 .Contact .contact-heading{
     display: inline;
 }

 .XGrid-Table {
    transition:all 0.3s ease-in-out;
 }

 .deleteclient:hover {
     border-color: red;
     color: red;
 }

 .editclient:hover {
    border-color: darkcyan;
    color: darkcyan;
 }

 