.EditForm{
    background-color: darkgray;
    text-align: center;
    transition:  all 1s ease-out;
    
}

.EditForm h1{
    color: darkcyan;
}

.EditForm .MuiFormControl-root {
    width: 40%;
    margin: 10px;
}

.EditForm .MuiFilledInput-underline:after{
    border-bottom: 2px solid darkcyan;
}

.EditForm .MuiFormLabel-root.Mui-focused {
    color: darkcyan;
}