.LeftSideMenu {
    position: relative;
    margin: 0;
    overflow: scroll;
    top:8%;
    left: 0%;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row;
    flex-direction: column;
    height: 100%;
    transition: all 0.4s linear;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding-right: 15px;
    /*float: left;*/
}

.LeftSideMenu .MuiGrid-item {
    margin: 0!important;
}

.LeftSideMenu .MuiPaper-root {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

.LeftSideMenu .MuiAccordionSummary-root {
    margin: 5px !important;
    padding: 0 !important;
}

@media(max-width: 599px) {
    .float-container .LeftSideMenu{
        display: none;
    }
}