.Login{
    background-image: url(../../asserts/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: all 300ms linear;
}

.Login .MuiGrid-container {
    position: fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.Login .MuiGrid-item {}

.LoginForm {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px 3px ;
    padding: 30px;
}


.LoginButton {
  margin-top: 10px !important;

}

.LoginForm a {
    color: black !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.LoginForm a:hover {
    color: black;
    font-weight: bold;
}

.LoginButton {
    margin: 15px!important;
}

@media (max-width: 599px){
    .LoginForm{
        width: 80%;
    }
}

@media (max-width: 768px){
    .LoginForm{
        width: 80%;
    }
}